/* For the whole display to bring little lower */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Custom header design*/
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #26ee0b;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.jumbotron {
    margin-top: 30px;
    text-align: center;
    border-bottom: 1px solid #26ee0b;

}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

.vl {
    border-left: 6px solid green;
    height: auto;
    margin-top: 30px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #26ee0b;
    border-top: 1px solid #26ee0b;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

 