{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/css/custom.css' %}">
    <title>User Manual</title>
</head>
<style>
    /*Image zoom hover*/
.config {
    overflow: hidden;
    margin: 0 auto;
}

.config img {
    width: 100%;
    transform-origin: center top;
    transition: 0.5s all ease-in-out;
}

.config:hover img {
    transform: scale(1.8);
}

ul li a {
    display: block;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

ul li a.active {
    background: dodgerblue;
    color: #fff;
}
</style>
<body>
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills float-right">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="http://13.58.248.169:8080/">Go to Main Website</a>
                    </li>
                </ul>
            </nav>
            <h3 style="color: #26ee0b;">Tea Management</h3>
        </div>
        <div class="row">
            <div class="col-md-3">
                <!-- Side Contents Menu -->
                <section style="margin-top: 30px;">
                    <h2>Contents</h2>
                    <nav class ="navbar bg-light">
                        <ul class ="nav navbar-nav nav-pills">
                            {% for gl in gl %}
                            {% if gl.page == '2.0' %}
                            <li class="nav-item"><a class="nav-link" href="{{gl.html_name}}">{{gl.page}} - {{gl.menu_name}}</a></li>
                            {% endif %}
                            {% endfor %}
                            <ul>
                                {% for gl in gl %}
                                {% if gl.content == True and gl.sub_content == False %}
                                <li class="nav-item" style="list-style-type: none;"><a class="nav-link" href="{{gl.html_name}}">{{gl.page}} - {{gl.menu_name}}</a></li>
                                {% elif gl.content == True and gl.sub_content == True %}
                                <ul>
                                    <li class="nav-item" style="list-style-type: none;"><a class="nav-link" href="{{gl.html_name}}">{{gl.page}} - {{gl.menu_name}}</a></li>
                                </ul>
                                {% endif %}
                                {% endfor %}

                                
                            </ul>
                        </ul>
                    </nav>
                </section>
            </div>
            <div class="col-md-1 vl">

            </div>
            <div class="col-md-8">
                <aside style="text-align: justify; margin-top: 30px;">
                    {% for gl in gl %}
                        {% if gl.page == '2.1.1' and gl.zoom == True %}
                    <div class="config">
                        <img src="{{gl.screen_shot.url}}" style="height: auto; width: 730px;" alt="Tea Management Home Page">
                    </div>
                    <p><strong>Hover over image to zoom.</strong></p>
                    <p style="padding-top: 10px;">
                        <b>{{gl.descp}}</b>
                    </p>
                    {% elif gl.page == '2.1.1' %}
                    <div>
                        <img src="{{gl.screen_shot.url}}" style="height: auto; width: 730px;" alt="Tea Management Home Page">
                    </div>
                    <p style="padding-top: 10px;">
                        <b>{{gl.descp}}</b>
                    </p>
                    {% endif %}
                    {% endfor %}
                    <br><br><br>

                    <!--Back and Next Buttons-->
                    <div class="row">
                        <div class="col-md-4">
                            {% for gl in gl %}
                                {% if gl.page == '2.1' and gl.content == True %}
                                    <a href="{{gl.html_name}}" class="previous">&laquo; Back
                                        <p>{{gl.menu_name}}</p>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            {% for gl in gl %}
                                {% if gl.page == '2.1.2' and gl.content == True %}
                                    <a href="{{gl.html_name}}" class="next">Next &raquo;
                                        <p>{{gl.menu_name}}</p>
                                            </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    
</body>

<script type="text/javascript">
    const currentLocation = location.href;
    const menuItem = document.querySelectorAll('a');
    const menuLength = menuItem.length
    for (let i = 0; i < menuLength; i++){
        if(menuItem[i].href === currentLocation){
            menuItem[i].className = "active"
        }
    }
</script>

</html>