{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/css/custom.css' %}">
    <title>Welcome</title>
</head>
<body>
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills float-right">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="http://13.58.248.169:8080/">Go to Main Website</a>
                    </li>
                </ul>
            </nav>
            <h3 style="color: #26ee0b;">Tea Management</h3>
        </div>
        
        <div class="jumbotron">
            <p><b>Tea management software</b> is a hybrid solution for managing your tea estate data in digital format. Tea management software is developed by <b>Sizzle.</b><br>This can maintain all kinds of details and keep records related to the tea estate and tea manufacturing.</p>
            <p><a class="btn btn-success" href="manual" role="button">Configuration Menu</a></p>
            <p><a class="btn btn-success" href="gl_register_menu" role="button">Green Leaf Register Menu</a></p>
            <p><a class="btn btn-success" href="manufac_menu" role="button">Manufacturing Menu</a></p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Static Design : 17/04/21</h4>
                <p>Powered by Django.</p>
    
                <h4>Django Setup : 12/04/21</h4>
                <p>Development Environment Setup. Components Installed : Django 3.4v.</p>
    
                <h4></h4>
                <p></p>
            </div>
    
            <div class="col-lg-6">
                <h4>Controller : 17/04/21</h4>
                <p>It's Awesome. Now we have more control on our views and we can even pass objects to it.</p>
    
                <h4></h4>
                <p> <b></b> </p>
    
                <h4></h4>
                <p></p>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; 2021 Sizzle Company, Inc.</p>
        </footer>


    </div>
</body>
</html>